.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #a5a5a4;
  color: white;

  p {
    margin: 0;
    font-size: 0.9rem;
  }

  .social-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    li a {
      color: #ffa500;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: white;
      }
    }
  }
}
